<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>branding image generator</title>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

  <h1 class="global-title">branding-img-generator</h1>

  <form id="logoform" class="logoform" name="logoform" action="/logoup" method="post" enctype="multipart/form-data">
    <div id="area-dropimage" class="area-dropimage">
      <p class="area-dropimage__text--intro" id="area-dropimage__text--intro">drop branding image here<br>
      or<p>
        <input type="file" name="logo" class="logoform__input--file" id="logoform__input--file">
    </div>
    <input type="submit" class="area-dropimage__submit">
  </form>

<!--
  <div class="area-brandingimage">
    <img src="/images/baseimg_fb.jpg" alt="">
    <ul class="area-brandingimage__logolist">
      <li class="area-brandingimage__logolist--item" style="background-image: url(<%= logo.filename %>);"><img src="<%= logo.filename %>" alt=""></li>
      <li class="area-brandingimage__logolist--item" style="background-image: url(<%= logo.filename %>);"><img src="<%= logo.filename %>" alt=""></li>
      <li class="area-brandingimage__logolist--item" style="background-image: url(<%= logo.filename %>);"><img src="<%= logo.filename %>" alt=""></li>
      <li class="area-brandingimage__logolist--item" style="background-image: url(<%= logo.filename %>);"><img src="<%= logo.filename %>" alt=""></li>
      <li class="area-brandingimage__logolist--item" style="background-image: url(<%= logo.filename %>);"><img src="<%= logo.filename %>" alt=""></li>
      <li class="area-brandingimage__logolist--item" style="background-image: url(<%= logo.filename %>);"><img src="<%= logo.filename %>" alt=""></li>
    </ul>
  </div>
-->


<footer class="global-footer">
  <p>github: <a href="https://github.com/eedamame/branding-img-generator">https://github.com/eedamame/branding-img-generator</a></p>
  <p><small><a href="https://github.com/eedamame/branding-img-generator/blob/master/LICENSE">MIT</a> &copy; eedamame</small></p>
</footer>
<script src="/js/app.js"></script>
</body>
</html>
